.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    fill: black;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: black;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

path { 
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.ticks path {fill: none; stroke:white;} 

.content {
    max-width: 800px;
    margin: auto;
    background-color:whitesmoke;
}
